*.iws
.settings
stacktrace.log
*.war
*.jar
*.tar
*.zip
*.class
*.o
*.so
.DS_Store
*.log
*.hprof
build/**
build/*
src/main/webapp/WEB-INF/classes
*.log
target/
build/
out/
src/main/webapp/plugins
hrv-2.5.0-grailsPlugins.iml
hrv-2.5.0.iml
.idea/